@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: black;
}

body {
    color: white;
}

.material-symbols-outlined {
    color: white;
}

header {
    margin: 0;
    padding: 0;
}

#search {
    display: flex;
    justify-content: center;
}

#perfil {
    display: flex;
    justify-content: end;
    padding-top: 0;
    margin-top: 0;
}

#box-pesquisa {
    width: 300px;
    background-color: gray;
    border: 0px;
}

#mini-menu {
    display: flex;
    gap: 10px;
}