@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; /* desce o texto */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header div {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    padding: 20px;
}  

.verified {
    color: #1DA1F2;
    font-size: 1.2em;
    vertical-align: middle; /* alinha com o texto */
    margin-left: 5px;
    margin-right: 5px;
}

header h1 {
    text-shadow: 1px 1px 5px black;
    font-size: 6em;
}

header p {
    font-size: 1em;
}

main div#buttons {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.material-symbols-outlined {
    font-size: 2em;
}

main div#play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3AE176;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

main div#play:hover {
    background-color: #05f85e;
}

main div#random {
    color: rgb(168, 168, 168);
    padding-top: 5px;
    cursor: pointer;
}

main div#random:hover {
    color: white;
}

main div#follow {
    padding-top: 5px;
}

main div#follow button {
    background-color: transparent;
    color: white;
    padding: 5px;
    border: .5px solid white;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

.pop {
    padding-left: 20px;
}

#mscs-populares {
    padding-left: 40px;
    padding-top: 10px;
}

.mscs-nomes {
    display: grid;
    grid-template-columns: 40px 60px 120px 150px 60px;
    gap: 15px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.mscs-nomes:hover {
    background-color: rgba(168, 168, 168, 0.445);
}

.nome {
    width: 100px;
}

/* CAPAS DAS MUSICAS */
div.msc-foto img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.nome {
    margin-right: 300px;
}

.num {
    color: rgb(168, 168, 168);
    font-weight: bolder;
}

