@charset "UTF-8";

div#semaforo {
    background-color: black;
    width: 300px;
    height: 700px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#semaforo > .light {
    background-color: gray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}

#semaforo > #red:hover {
    background-color: red;
    transition: background 0.5s, box-shadow 0.3s; 
    /* transition propriedade duração curva-de-velocidade atraso 
        propriedade → qual propriedade vai animar (background, width, transform, etc.)
        duração → quanto tempo vai durar a transição (0.3s, 1s, etc.)
        curva de velocidade (timing-function) → como a mudança acontece (linear, ease, ease-in, ease-out)
        atraso (delay) → quanto tempo esperar antes de começar (0s, 0.5s)
    */
}

#semaforo > #yellow:hover {
    background-color: yellow;
    transition: background 0.5s, box-shadow 0.3s;
}

#semaforo > #green:hover {
    background-color: rgb(8, 190, 8);
    transition: background 0.5s, box-shadow 0.3s;
}