@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    height: 400px;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header h1 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.358);
    font-size: 6em;
}

header p {
    display: flex;
}